In [1]:
import data_utilities as du
import model_utilities as mu

In [2]:
df_raw = du.get_object('microbusiness-density', 'train.csv', host='localhost:9000')
df_raw.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [3]:
df_processed = du.preprocess(df_raw)
df_processed.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active,measurement_date,year,unix_elapsed_seconds
0,1001_2019-08-01,0,Autauga County,0,2019-08-01,3.007682,1249,2019-08-01,2019,0.000000
1,1001_2019-09-01,0,Autauga County,0,2019-09-01,2.884870,1198,2019-09-01,2019,0.026793
2,1001_2019-10-01,0,Autauga County,0,2019-10-01,3.055843,1269,2019-10-01,2019,0.052723
3,1001_2019-11-01,0,Autauga County,0,2019-11-01,2.993233,1243,2019-11-01,2019,0.079516
4,1001_2019-12-01,0,Autauga County,0,2019-12-01,2.993233,1243,2019-12-01,2019,0.105445

In [4]:
df_train_X, df_train_y, df_valid_X, df_valid_y, df_test_X, df_test_y = du.feature_engineering(df_processed, host='localhost:9000')
df_train_X.head()

c:\code\ds-engine\kfp_model_training\src\data_utilities.py:48: DtypeWarning: Columns (5,25,65,77,243,245,247,249,383,385,387,389,467,469,471,473,487,489,577,589,755,757,759,761,775,777,779,781,783,785,787,789,871,873,875,877,895,897,899,901,999,1001,1029,1049,1089,1259,1261,1267,1269,1271,1273,1287,1289,1291,1293,1295,1297,1299,1301,1359,1361,1363,1365,1407,1409,1411,1413,1499,1501,1511,1513) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.BytesIO(response.data))
c:\code\ds-engine\kfp_model_training\src\data_utilities.py:48: DtypeWarning: Columns (5,25,65,77,89,235,237,243,245,247,249,263,265,267,269,271,273,275,277,335,337,339,341,383,385,387,389,443,445,447,449,455,457,459,461,467,469,471,473,483,485,487,489,517,537,577,747,749,755,757,759,761,775,777,779,781,783,785,787,789,847,849,851,853,895,897,899,901,967,969,971,973,979,981,983,985,987,989,991,993,995,997,999,1001,1101,1259,1261,1287,1289,1291,1293,1295,1297,1299,1301,1359,1361,1363,1365,1407,1409,1411,1413,1479,1481,1483,1485,1491,1493,1495,1497,1499,1501,1503,1505,1507,1509,1511,1513) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.BytesIO(response.data))
c:\code\ds-engine\kfp_model_training\src\data_utilities.py:48: DtypeWarning: Columns (5,25,65,77,89,235,237,243,245,247,249,263,265,267,269,271,273,275,277,335,337,339,341,383,385,387,389,443,445,447,449,455,457,459,461,467,469,471,473,483,485,487,489,517,537,577,747,749,755,757,759,761,775,777,779,781,783,785,787,789,847,849,851,853,895,897,899,901,967,969,971,973,979,981,983,985,987,989,991,993,995,997,999,1001,1101,1259,1261,1287,1289,1291,1293,1295,1297,1299,1301,1359,1361,1363,1365,1407,1409,1411,1413,1479,1481,1483,1485,1491,1493,1495,1497,1499,1501,1503,1505,1507,1509,1511,1513) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.BytesIO(response.data))
c:\code\ds-engine\kfp_model_training\src\data_utilities.py:135: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_s1501['cfips'] = df_s1501['GEO_ID'].str[-5:].astype('Int64')
c:\code\ds-engine\kfp_model_training\src\data_utilities.py:137: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_s1501['total_population'] = df_s1501['S1501_C01_001E'] + df_s1501['S1501_C01_006E']
c:\code\ds-engine\kfp_model_training\src\data_utilities.py:138: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_s1501['pct_bachelors_degree'] = (df_s1501['S1501_C01_005E'] + df_s1501['S1501_C01_012E']) / df_s1501['total_population']
c:\code\ds-engine\kfp_model_training\src\data_utilities.py:139: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_s1501['pct_graduate_degree'] = (df_s1501['S1501_C01_013E']) / df_s1501['total_population']

  cfips state  unix_elapsed_seconds
0     0     0              0.000000
1     0     0              0.026793
2     0     0              0.052723
3     0     0              0.079516
4     0     0              0.105445

In [5]:
#df = df_train_X[df_train_X['pct_bachelors_degree'] > 0]
#print(len(df))
#df.head()

In [6]:
mbd_model, results = mu.train_model(df_train_X, df_train_y, df_valid_X, df_valid_y)
results

Training loss:  11.007729566234973
Validation loss (MSE) 6.956 - Accuracy (MAE) 0.860
Training loss:  8.307092242719607
Validation loss (MSE) 5.980 - Accuracy (MAE) 0.620
Training loss:  7.90917558233222
Validation loss (MSE) 5.605 - Accuracy (MAE) 0.632
Training loss:  7.229417502778369
Validation loss (MSE) 5.044 - Accuracy (MAE) 0.535
Training loss:  7.136771650783516
Validation loss (MSE) 6.357 - Accuracy (MAE) 0.575

[(11.007729566234973,
  6.956336003123668,
  tensor(0.8599, grad_fn=<DivBackward0>)),
 (8.307092242719607,
  5.980262922209225,
  tensor(0.6199, grad_fn=<DivBackward0>)),
 (7.90917558233222, 5.604605950165594, tensor(0.6318, grad_fn=<DivBackward0>)),
 (7.229417502778369,
  5.043648555779761,
  tensor(0.5345, grad_fn=<DivBackward0>)),
 (7.136771650783516,
  6.356937755178512,
  tensor(0.5748, grad_fn=<DivBackward0>))]

In [7]:
smape = mu.test_model(df_test_X, df_test_y, mbd_model)
smape

14.952488